@import 'bootstrap';
@import 'bulma';

*{
  font-family: 'Raleway', sans-serif;

}


.container{
  max-width: none;
  padding:0px;
  margin: 0px;
  width: 100%;
  overflow: scroll;
  ::-webkit-scrollbar {
      display: none;
  }
}

//nav
#nav-wrapper{
  position: fixed;
  z-index: 1;
  background-color: #F5F5F5;
  width:100%;
  height: 90px;
  margin-bottom:10px;
}

nav {

  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top:10px;
  padding-bottom: 50px;


  a{
    text-decoration: none;
    color:black;
  }
    .nav-right{

      a{
        font-weight: 200;
        padding: 20px;
      }
        a:hover, a:focus {
          text-decoration: none;
          color: #BFDBE8;
          padding: 15px;
        }
    }
    .nav-top-left{
      font-weight:300;
      font-size: 33px;
        a:hover {
          text-decoration: none;
          color:#BFDBE8;
        }
        a:focus {
         text-decoration: none;
         color:black;
       }
    }
}

//about

#contact-about{
  display: flex;
  justify-content: flex-start;

  a {
    text-decoration: none;
    color: #BFDBE8;
    padding: 5px;
  }

}

.outer-about{
width: 900px;
height: 555px;
margin:auto;
margin-bottom: 0px;

  h2{color: #BFDBE8;
    text-align: center;
    font-weight: normal;
  }
}

.is-half{
  height: 425px;
  width: 300px;
  overflow: hidden;
  p{
    padding: 5px;
    font-size: large;
    font-stretch: expanded;
  }
}


//contact


#contact-wrapper{
  padding-top: 50px;
  height: 600px;
  width: 100%;
  margin: auto;
  background-color:#BFDBE8;
  // opacity:.50;
}

#about-me {
  height:140px;
}

#contact-snehel {
  display: flex;
  justify-content: center;
  width: 500px;
  margin: auto;

  a {
    text-decoration: none;
    color:#4B4B4B;
    padding: 10px;

  }
}

#in-touch{
  font-weight: 700;
  font-size: 70px;
  text-align: center;
  font-weight:300;
  padding:20px;
  color: #4B4B4B;
}


//resume

.outer {
width: 1000px;
margin-left:auto;
margin-right: auto;

  h2{color: #BFDBE8;
    text-align: center;
    font-weight: normal;
  }
}

#resume {
  height:50px;
  font-size: 20px;
  padding: 0px 0px 25px 0px;
}

.row{
  font-weight: 200;
  font-size: 15px;
  width: 970px;
margin:auto;

  .resume-title{
    color: #BFDBE8;
    font-weight: 600;
    margin: 0 0 20px 0;
    border-bottom: 1px solid #C5C4C3;


  }

  ul#education{
    list-style: none;

    li{

      // font-style: italic;
    }
  }

  div.col-sm-9{
    padding-left: 0px;
  }
  div.work-list{
    display: flex;
    justify-content:space-between;
    font-weight: bold;
  }
  div.position{
    padding-bottom: 10px;

  }
  ul {
    list-style:square;
  }
}

//main content


//Projects

#projects{
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  margin: auto;
  background-color:#BFDBE8;

}

.media{
  padding: 10px;
  width: 80%;
  margin: auto;
}

.media-object {
  height:245px;
  width: 395px;
  border: 2px solid #C5C4C3;
  border-radius: 2px;
}

.media-heading{
  background-color: white;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
    a{
      text-decoration: none;
      color:black;
    }

    a:hover, a:focus {
      text-decoration: none;
      color: #5C81B5;
    }
}


.media-heading:hover{
  a{
    color: #5C81B5;
    text-decoration: none;
  }
}

.createdwith{
  color: #5C81B5;
  font-weight: 600;
  margin-bottom: 6px;
  display: inline-block;


}
.media-body{

  .fa {
    padding:6px;
  }
  .link {
    a{ text-decoration: none;
    color:#5C81B5;
    }
  }
  a:hover, a:focus {
    text-decoration: none;
    color: #5C81B5;
  }

}
