


  <div class="outer box">
    <h2 class=" box title is-2">ABOUT ME</h2>
    <div class="columns">
    <div class= "column is-half inner box">
      <figure class="image">
            <img src="./images/snehel2.png" alt="Image">
      </figure>
    </div>
    <div class="column box is-half about">
        <p>I'm Snehel, a frontend developer in Atlanta, Georgia, who aims to creative intuitive, streamlined, and visually pleasing apps.</p>
          <p>In a prior life I went to law school, wrote grants as an AmeriCorps VISTA, taught disinterested farmer's market crowds about food insecurity, and organized dances for socially isolated senior citizens.
            <p>My current interests include anxiously watching Atlanta develop, knitting greyhound pajamas, practicing mindfulness, and writing cleaner code.</p>
            <p>Come say hi! </p>
            <div id="contact-about">
              <a href= "https://github.com/snehelpatel/"><i class="fa fa-github-alt fa-2x" class= "github" aria-hidden="true"> </i>
              </a>
              <a href= "mailto:snehelpatel92@gmail.com"><i class="fa fa-envelope fa-2x" id= "email" aria-hidden="true"></i>
              </a>
              <a href= "https://www.linkedin.com/in/snehel-patel-650b738a"><i class="fa fa-linkedin fa-2x" id= "linkedin" aria-hidden="true"></i>
              </a>
              <a href= "https://twitter.com/SnehelPatel"><i class="fa fa-twitter fa-2x" aria-hidden="true" id= "twitter"></i>
              </a>
            </div>
      </div>
    </div>
  </div>
