<div id="in-touch">Get in touch with me. </div>

<div id="contact">
  <a href= "https://github.com/snehelpatel/"><i class="fa fa-github-alt fa-4x" aria-hidden="true"></i>
  </a>
  <a href= "mailto:snehelpatel92@gmail.com"><i class="fa fa-envelope fa-4x" aria-hidden="true"></i>
  </a>
  <a href= "https://www.linkedin.com/in/snehel-patel-650b738a"><i class="fa fa-linkedin fa-4x" aria-hidden="true"></i>
  </a>
  <a href= "https://twitter.com/SnehelPatel"><i class="fa fa-twitter fa-4x" aria-hidden="true"></i>
  </a>
</div>
