<div id="in-touch">Get in touch with me. </div>

<div id="contact">
  <a href= "https://github.com/snehelpatel/"><i class="fa fa-github-alt fa-4x" class= "github" aria-hidden="true"> </i>
  </a>
  <a href= "mailto:snehelpatel92@gmail.com"><i class="fa fa-envelope fa-4x" id= "email" aria-hidden="true"></i>
  </a>
  <a href= "https://www.linkedin.com/in/snehel-patel-650b738a"><i class="fa fa-linkedin fa-4x" id= "linkedin" aria-hidden="true"></i>
  </a>
  <a href= "https://twitter.com/SnehelPatel"><i class="fa fa-twitter fa-4x" aria-hidden="true" id= "twitter"></i>
  </a>
</div>

<div class= "hidden" class= "github">https://github.com/snehelpatel</div>
<div class= "hidden" class= "email">mailto:snehelpatel92@gmail.com</div>
<div class= "hidden" class= "linkedin">https://www.linkedin.com/in/snehel-patel</div>
<div class= "hidden" class= "twitter">https://twitter.com/SnehelPatel</div>

<!--
 <div id="contact-text"> https://github.com/snehelpatel | snehelpatel92@gmail.com | https://www.linkedin.com/in/snehel-patel-650b738a | https://twitter.com/SnehelPatel
</div> -->
