<div id="nav-wrapper">
<nav>
  <span class="nav-top-left">
      <a ng-click="home.scrollTo('home')">SNEHEL PATEL</a>
  </span>

  <!-- <span class="nav-right">
      <a ui-sref="root.about">ABOUT</a>
      <a ui-sref="root.projects">PROJECTS</a>
      <a ui-sref="root.resume">RESUME</a>
      <a ui-sref="root.contact">CONTACT</a>
  </span> -->


    <span class="nav-right">
        <a ng-click="home.scrollTo('about-me')">ABOUT</a>
        <a  ng-click="home.scrollTo('projects')">PROJECTS</a>
        <a ng-click="home.scrollTo('skills')">SKILLS</a>
        <a ng-click="home.scrollTo('contact')">CONTACT</a>
        <a href="./images/SnehelPatelResume.pdf" download="">
          <i class="fa fa-download" aria-hidden="true"></i> RESUME</a>
    </span>

</nav>
</div>

<div class="container" ui-view>
  </div>


 <!-- <footer id="footer-snehel">
    <a href= "https://github.com/snehelpatel/"><i class=" fa fa-github-alt fa-2x" class= "github" aria-hidden="true"> </i>
    </a>
    <a href= "mailto:snehelpatel92@gmail.com"><i class=" fa fa-envelope fa-2x" id= "email" aria-hidden="true"></i>
    </a>
    <a href= "https://www.linkedin.com/in/snehel-patel-650b738a"><i class=" fa fa-linkedin fa-2x" id= "linkedin" aria-hidden="true"></i>
    </a> -->
    <!-- <a href= "https://twitter.com/SnehelPatel"><i class="box fa fa-twitter fa-4x" aria-hidden="true" id= "twitter"></i>
    </a> -->
  <!-- <footer/> -->
