
  <div class="media" ng-repeat= "all in projects.all">
  <div class="media-left media-middle">
      <img class= "media-object" src="{{all.thumb}}">
  </div>
  <div class="media-body">

      <header class="media-heading"><a ui-sref="root.project({name: all.link})">{{all.title}}
          </a>
      </header>

      Created using:
      <span class= "createdwith">{{all.tools }}
      </span>
      <div class= "blurb">{{all.blurb }}
      </div>
      <span class="link">
        <a href= "{{all.github}}"><i class="fa fa-github-alt fa-2x" class= "github" aria-hidden="true"> </i>
        </a>
      </span>
      <span class="link">
        <a href= "{{all.deployed}}"><i class="fa fa-link fa-2x" class= "link" aria-hidden="true"> </i>
        </a>
      </span>
    </div>
</div>
