<div class="row">
    <div class="resume-title col-xs-8 col-sm-4">
        SKILLS
    </div>
      <div class="col-xs-8 col-sm-8">
        HTML5/CSS3, Git, JavaScript, jQuery, AngularJS
      </div>
    </div>
<!-- Experience      -->
<div class="row">
  <div class="resume-title col-xs-8 col-sm-4">
    EXPERIENCE
  </div>
  <div class="col-xs-8 col-sm-8">
    <div class="work-list"><span class="work-place">The Iron Yard | Atlanta, GA</span>	<span class="date">September 2016 – December 2016</span>
    </div>
      <div class="position">Front-End Engineering Student/Developer</div>
        <ul id= "education">
          <li>        The Iron Yard is a 12-week coding bootcamp specializing in highly focused, immersive training centered on language fluency, object-oriented programming, and project-based learning.

          </li>
        </ul>

    <div class="work-list"><span class="work-place">Effron Sharma Immigration, LLC | Norcross, Georgia</span>	<span class="date">May 2016-July 2016</span>
    </div>
    <div class="position">Law Clerk</div>
    <ul>
      <li>   Wrote persuasive briefs on behalf of clients to the United States Citizens and Immigration Services (USCIS) to adjust immigration status
      </li>
      <li>    Received sensitive information from and on behalf of clients to best serve their needs
      </li>
      <li>    Conducted extensive immigration law research on behalf of clients
      </li>
      <li>    Maintained positive client relationships by being available, prepared, and respectful of individual circumstances

      </li>
    </ul>
    <div class="work-list"><span class="work-place">Early Autism Project | Augusta, Georgia</span>	<span class="date">February 2015-December 2015</span>
      </div>
    <div class="position">Line Therapist</div>
    <ul>
      <li>   Provided ABA therapy to children on or at risk of being on the Autism spectrum in clinic and at home
      </li>
      <li>    Assisted guardians develop skills to better acclimate their children to the world around them
      </li>
      <li>   Developed therapy plans and coordinated with other care providers to find what works best for children
      </li>

    </ul>


  </div>
</div>
<!-- Education  -->
<div class="row">
  <div class="resume-title col-xs-8 col-sm-4">
    EDUCATION
  </div>
  <div class="col-xs-8 col-sm-8 work-list">
  <span>The University of Georgia | Athens, GA</span>	<span>August 2010–August 2014</span>
  </div>
</div>
  </div>
</div>






<!--
SKILLS


RELEVANT EXPERIENCE
The Iron Yard | Atlanta, GA	September 2016 – December 2016
Front-End Engineering Student
The Iron Yard is a 12-week coding bootcamp specializing in highly focused, immersive training centered on language fluency, object-oriented programming, and project-based learning.
IronStack
IronStack is an education app based around The Iron Yard’s curriculum and student needs, geared towards providing a space that allows for student organization, collaboration, and growth.
Website: IronStack
Code: IronStack on Github

InstaShare
InstaShare is the product of a group hackathon and an Instagram clone that allows users to post, comment on, and interact with images.
Code: InstaShare on Github
EXPERIENCE
Effron Sharma Immigration, LLC | Norcross, Georgia	May 2016-July 2016
Law Clerk
Wrote persuasive briefs on behalf of clients to the United States Citizens and Immigration Services (USCIS) to adjust immigration status
Received sensitive information from and on behalf of clients to best serve their needs
Conducted extensive immigration law research on behalf of clients
Maintained positive client relationships by being available, prepared, and respectful of individual circumstances

Early Autism Project | Augusta, Georgia	February 2015-December 2015
Line Therapist
Provided ABA therapy to children on or at risk of being on the Autism spectrum in clinic and at home
Assisted guardians develop skills to better acclimate their children to the world around them
Developed therapy plans and coordinated with other care providers to find what works best for children

Georgia CAFÉ-Campus Kitchen |Athens, Georgia                                                                               May 2013-July 2013
Senior SNAP Advocate
Provided community assistances to Athens senior citizens eligible for Senior SNAP benefits
Dealt with sensitive topics such as violence in the home, substance use, and money management
Organized events for senior socialization who face higher rates of social isolation and depression

EDUCATION
Georgia State University College of Law | Atlanta, GA	August 2015-May 2016
Juris Doctorate Candidate
20th Anniversary Dean’s Scholar Scholarship Recipient

The University of Georgia | Athens, GA	August 2010–August 2014
B.A. English, GPA 3.6
Dean’s List, HOPE/Zell Miller Scholarship recipient -->
